<section>

  <div class="conbgimg">
    <div>
      <p><a routerLink="/" class="text-white text-decoration-none">Home</a> / FAQ's</p>
      <h1>FAQ's</h1>
    </div>
  </div>

  <div class="maindiv">

    <div class="container mt-5">
      <div class="mt-4">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" (click)="open(1)">
                <b>WHY SHOULD I ORDER FROM safetyforyou.in?</b>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" *ngIf="tabopen1">
              <div class="accordion-body">
                We’re the experts, not just another e-commerce site; you can select from hundreds of different signage
                product.Safetyforyou.in site. We’re manufacturers specializing in quality Road safety signage and other
                signage’s, with a commitment to offering the custom products at the lowest possible prices.
              </div>
            </div>
          </div>
          <div class="accordion-item mt-5">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button" type="button" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" (click)="open(2)">
                <b>HOW DO I KNOW safetyforyou.in RECEIVED MY ORDER?</b>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo" *ngIf="tabopen2">
              <div class="accordion-body">
                When you checkout and place your order, you will receive an order confirmation via email as well our
                team will be in touch with you within a few minutes, you can either call us on ………………..or we'll contact
                you when your order is reviewed for release into our system.
              </div>
            </div>
          </div>
          <div class="accordion-item mt-5">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button" type="button" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" (click)="open(3)">
                <b>WHAT DO I DO IF I ORDERED THE WRONG ITEMS?</b>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree" *ngIf="tabopen3">
              <div class="accordion-body">
                Contact Customer Service by phone on……………., by email at safetysignforyou@gmail.com to resolve the
                problem.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>
