<div class="footerbg mt-5">
  <div class="footerdiv">
    <div class="row m-0">
      <div class="col-lg-2">
        <h2>Safety Signs</h2>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="col-lg-3 ms-auto">
        <p><a class="text-white text-decoration-none" routerLink="/about" (click)="scrollToTop()">About Us</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/contact" (click)="scrollToTop()">Contact us</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/faq" (click)="scrollToTop()">FAQ's</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/client" (click)="scrollToTop()">Our Clients</a></p>
      </div>

      <div class="col-lg-3">
        <h5>Policies</h5>
        <p><a class="text-white text-decoration-none" routerLink="/policy" (click)="scrollToTop()">Cancellation & Returns Policy</a></p>
      </div>

      <div class="col-lg-3">
        <h5>Policies & Services</h5>
        <p>Privacy Policy</p>
        <p>Cancellation & Returns Policy</p>
        <p>Terms of Service</p>
      </div>

      <div class="mt-4 text-center">
        <p class="mt-5 mb-0"><span class="me-2">Copyright © 2023 Safety Signs.</span> |
        <a href="" class="ms-2 me-2 text-white">Privacy Policy</a> |
        <a href="" class="ms-2 text-white">Security at Cedar</a></p>
      </div>

      <div class="text-center mt-4">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp ms-4"></i>
        <i class="fab fa-linkedin-in ms-4"></i>
        <i class="fab fa-twitter ms-4"></i>
      </div>

    </div>
  </div>
</div>
