.footerbg {
  background-color: #00005a;
  /* background-color: #32327A; */
  color: white;
}

.footerdiv {
  margin: 0 7%;
  padding: 5% 0 2.3% 0;
}

.footercontent {
  width: 75%;
}


@media screen and (max-width: 430px) {
  .footerbg {
    text-align: center;
    padding-top: 10%;
  }

  .footerdiv {
    text-align: center;
  }

  .footercontent {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .footerdiv {
    margin: 0 3%;
  }
}
