<div class="footerbg mt-lg-5">
  <div class="shape"></div>
  <div class="footerdiv">
    <div class="row m-0">
      <div>
        <img src="assets/images/ss1.png" alt="" class="footerlogoimg">
      </div>
      <div class="col-lg-4 col-md-4 mt-4">
        <div>
          <h2>Safety Signs</h2>
        </div>
        <p class="footercontent">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="col-lg-4 col-md-4 mt-4 ms-lg-auto">
        <p><a class="text-white text-decoration-none" routerLink="/about-us">About Us</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/contact-us">Contact us</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/faq">FAQ's</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/clients">Our Clients</a></p>
      </div>

      <div class="col-lg-4 col-md-4 mt-4 ms-lg-auto">
        <h5>Policies & Services</h5>
        <p>Privacy Policy</p>
        <p><a class="text-white text-decoration-none" routerLink="/privacy-policy">Cancellation & Returns Policy</a></p>
        <p>Terms of Service</p>
      </div>

      <div class="mt-4 text-center">
        <p class="mt-5 mb-0"><span class="me-2">Copyright © 2023 Safety Signs.</span> |
        <a href="" class="ms-2 me-2 text-white" routerLink="/privacy-policy">Privacy Policy</a>
      </div>

      <div class="text-center mt-4">
        <i class="fab fa-instagram"></i>
        <a href="https://api.whatsapp.com/send?phone=917434022280&text=Hello%2C%20I%20contacted%20you%[…]web.app%20https%3A%2F%2Fsafety-signs-4c28c.web.app%2Fcontact" target="_blank" class="text-white"><i class="fab fa-whatsapp ms-4"></i></a>
        <i class="fab fa-linkedin-in ms-4"></i>
        <i class="fab fa-twitter ms-4"></i>
      </div>

    </div>
  </div>
</div>
