<div class="footerbg mt-lg-5">
  <div class="footerdiv">
    <div class="row m-0">
      <div>
        <h2>Safety Signs</h2>
      </div>
      <div class="col-lg-4 col-md-3 mt-4">
        <p class="w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="col-lg-4 col-md-3 mt-4 ms-lg-auto">
        <p><a class="text-white text-decoration-none" routerLink="/about" (click)="scrollToTop()">About Us</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/contact" (click)="scrollToTop()">Contact us</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/faq" (click)="scrollToTop()">FAQ's</a></p>
        <p><a class="text-white text-decoration-none" routerLink="/client" (click)="scrollToTop()">Our Clients</a></p>
      </div>

      <div class="col-lg-4 col-md-3 mt-4 ms-lg-auto">
        <h5>Policies & Services</h5>
        <p>Privacy Policy</p>
        <p><a class="text-white text-decoration-none" routerLink="/policy" (click)="scrollToTop()">Cancellation & Returns Policy</a></p>
        <p>Terms of Service</p>
      </div>

      <div class="mt-4 text-center">
        <p class="mt-5 mb-0"><span class="me-2">Copyright © 2023 Safety Signs.</span> |
        <a href="" class="ms-2 me-2 text-white" routerLink="/policy" (click)="scrollToTop()">Privacy Policy</a>
      </div>

      <div class="text-center mt-4">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp ms-4"></i>
        <i class="fab fa-linkedin-in ms-4"></i>
        <i class="fab fa-twitter ms-4"></i>
      </div>

    </div>
  </div>
</div>
