<div class="title mt-2">
  <h2 class="text-center">Forget Password?</h2>
</div>
<hr class="w-75 ms-auto me-auto">
<div class="form ms-auto me-auto mt-5">
  <form [formGroup]="myForgotForm" (ngSubmit)="onForgotSubmit()">
    <div class="row">
      <div class="inputbox col-lg-12 mt-3">
        <label>Email</label>
        <input class="mt-2 pt-3 pb-3" type="email" placeholder="Enter your Email ID" required formControlName="email">
      </div>
      <div class="create mt-4 text-center ms-auto me-auto">
        <button type="submit">Submit</button>
      </div>
      <div class="additional text-center">
        <a routerLink="/auth/login">Log In</a>
      </div>
    </div>
  </form>
</div>
