<section>
  <div class="row content">
    <div class="left col-lg-3 col-md-4">
      <img src="https://i.postimg.cc/8CCmX23W/icon.png" alt="icon">
      <h1>SAFETY <br>SIGNS</h1>
    </div>

    <div class="right col-lg-8 col-md-7 col-12">
      <div class="title mt-2">
        <h2 class="text-center">Registration</h2>
      </div>

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="inputbox col-lg-6">
            <label>First Name</label>
            <input class="mt-2 pt-3 pb-3" type="text" placeholder="Enter your First Name" required formControlName="first_name">
            <div *ngIf="myForm.get('first_name')?.invalid && myForm.get('first_name')?.touched" class="text-danger small">
              First Name is required.
            </div>
          </div>
          <div class="inputbox col-lg-6">
            <label>Last Name</label>
            <input class="mt-2 pt-3 pb-3" type="text" placeholder="Enter your Last Name" required formControlName="last_name">
            <div *ngIf="myForm.get('last_name')?.invalid && myForm.get('last_name')?.touched" class="text-danger small">
              last Name is required.
            </div>
          </div>
          <div class="inputbox col-lg-6 mt-3">
            <label>Email</label>
            <input class="mt-2 pt-3 pb-3" type="email" placeholder="Enter your Email ID" required formControlName="email">
            <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="text-danger small">
              <div *ngIf="myForm.get('email')?.hasError('email')">
                Please enter a valid email address.
              </div>
              <div *ngIf="!myForm.get('email')?.hasError('email') && !myForm.get('email')?.value.includes('@gmail')">
                Email is required.
              </div>
            </div>
          </div>
          <div class="inputbox col-lg-6 mt-3">
            <label>Password</label>
            <div class="input-group mt-1">
              <div class="input-group-prepend mt-1">
                <span class="input-group-text">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <input
                [type]="passwordFieldType"
                id="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
                required
              />
              <div class="input-group-append mt-1">
                <span class="input-group-text" (click)="pass()">
                  <i [class]="passwordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                </span>
              </div>
            </div>
            <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched" class="text-danger small">
              Password is required.
            </div>
          </div>
          <div class="inputbox col-lg-6 mt-3">
            <label>Phone No.</label>
            <input class="mt-2 pt-3 pb-3" type="tel" placeholder="Enter your Number" required formControlName="phone_no">
            <div *ngIf="myForm.get('phone_no')?.invalid && myForm.get('phone_no')?.touched" class="text-danger small">
              Phone Number is required.
            </div>
          </div>
          <div class="inputbox col-lg-6 mt-3">
            <label>Office Address</label>
            <input class="mt-2 pt-3 pb-3" type="text" placeholder="Enter your Address" formControlName="office_address" required>
            <div *ngIf="myForm.get('office_address')?.invalid && myForm.get('office_address')?.touched" class="text-danger small">
              Office Address is required.
            </div>
          </div>
          <div class="create mt-4 text-center ms-auto me-auto">
            <button type="submit">Register</button>
          </div>
          <div class="additional text-center">
            <a routerLink="/login">Already have an account?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
