.leftdetaildiv, .rightdetaildiv {
  padding: 4%;
  box-shadow: 5px 5px 10px 1px #888888;
  border-radius: 15px;
}

.rightdetaildiv {
  padding: 2%;
  height: 100%;
}

.productdiv {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 4% 2%;
}

.paybtn {
  border: 2px solid #00005a;
  background-color: white;
  transition: 0.3s;
  padding: 0 5%;
  border-radius: 20px;
  width: 50%;
}

.paybtn:not(:disabled):hover {
  background-color: #00005a;
  color: white;
}

.paybtn:disabled {
  cursor: no-drop;
  border: 2px solid gray;
}

.imgdiv {
  border-right-style: dashed;
}


/* Responsiveness:Start */
@media screen and (max-width: 430px) {
  section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
  }

  .leftdetaildiv {
    padding: 8% !important;
  }

  .imgdiv {
    border-right-style: none;
  }

  .paybtn {
    width: 100%;
  }

  .rightdetaildiv {
    margin-bottom: 15%;
    padding: 5%;
  }
}

@media screen and (max-width: 820px) {
  section {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }

  .rightdetaildiv {
    margin-bottom: 15%;
    padding: 5%;
  }

  .leftdetaildiv {
    padding: 8% !important;
  }
}

@media screen and (max-width: 1030px) {
  .rightdetaildiv {
    padding: 2%;
  }
}
/* Responsiveness:End */
