.contactbg {
  background-color: rgb(249, 245, 245);
}

.container1 {
  margin-left: 13%;
  margin-right: 13%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.leftdivout, .rightdiv{
  border-radius: 10px !important;
}

.leftdivin{
  width: 98%;
}

.conbgimg {
  background: url('src/assets/images/img2.png');
  height: 300px;
  background-size: cover;
  color: white;
}

.conbgimg div {
  padding-top: 7%;
  padding-left: 10%;
}

.btn-style-one{
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  border: 2px solid #001e57;
  background-color: white;
  transition: 0.3s;
}

.btn-style-one:hover{
  background-color: #001e57;
  color: #ffffff;
  transition: 0.3s;
}

.logo{
	border-radius: 50%;
	padding: 12px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #25D366;
	display: inline-block;
	position: fixed;
	bottom: 40px;
	right: 45px;
	z-index: 99;
}



/* Responsiveness:Start */
@media screen and (max-width: 430px) {
  .container1 {
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding-top: 10%;
    padding-bottom: 15%;
  }

  .conbgimg {
    height: 200px;
  }

  .rightdiv {
    margin-top: 15%;
  }

  .conbgimg div {
    padding-top: 13%;
    padding-left: 0%;
    text-align: center;
  }

  .map iframe {
    height: 250px !important;
  }

  .logo{
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    right: 20px;
  }

  .logo i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 820px) {
  .container1 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
  }

  .rightdiv {
    margin-top: 10%;
  }

  .conbgimg {
    height: 250px;
  }

  .map iframe {
    height: 400px;
  }

  .logo{
    padding: 11px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .logo i {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1030px) {
}
/* Responsiveness:End */
