.contactbg {
  background-color: rgb(249, 245, 245);
}

.container1 {
  margin-left: 13%;
  margin-right: 13%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.leftdivin, .rightdiv{
  border-radius: 7px;
}

.leftdivin{
  width: 98%;
}

.conbgimg {
  background: url('src/assets/images/img2.png');
  height: 300px;
  background-size: cover;
  color: white;
}

.conbgimg div {
  padding-top: 7%;
  padding-left: 10%;
}

.btn-style-one{
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  border: 2px solid #001e57;
  background-color: white;
  transition: 0.3s;
}

.btn-style-one:hover{
  background-color: #001e57;
  color: #ffffff;
  transition: 0.3s;
}


/* Responsiveness:Start */
@media screen and (max-width: 425px) {
  .container1 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
  }

  .conbgimg {
    height: 200px;
  }

  .rightdiv {
    margin-top: 15%;
  }

  .conbgimg div {
    padding-top: 13%;
    padding-left: 0%;
    text-align: center;
  }

  .map iframe {
    height: 300px;
  }
}

@media screen and (max-width: 780px) {
  .container1 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
  }

  .rightdiv {
    margin-top: 10%;
  }

  .map iframe {
    height: 400px;
  }
}
/* Responsiveness:End */
