<section>

  <div class="conbgimg">
    <div>
      <p><a routerLink="/" class="text-white text-decoration-none">Home</a> / Contact Us</p>
      <h1>Contact Us</h1>
    </div>
  </div>

  <div class="contactbg">
    <div class="container1">
      <div class="row">
        <div class="col-lg-7 col-12 bg-white p-0">
          <div class="leftdivin p-4">
            <h5>Send Us An Email</h5>
            <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur dolorem, dignissimos autem nesciunt porro, voluptatum est harum necessitatibus dolorum voluptatem quam quibusdam non exercitationem beatae ea temporibus laborum ab hic?</p>

            <div class="mt-5">
              <form [formGroup]="myContactForm" (ngSubmit)="onContactSubmit()">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <input type="text" class="p-2 ps-3 w-100" placeholder="Name" required formControlName="name">
                    <div *ngIf="myContactForm.get('name')?.invalid && myContactForm.get('name')?.touched" class="text-danger small">
                      Name is required.
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 mt-md-0">
                    <input type="text" class="p-2 ps-3 w-100" placeholder="Email" required formControlName="email">

                    <div *ngIf="myContactForm.get('email')?.invalid && myContactForm.get('email')?.touched" class="text-danger small">
                      <div *ngIf="myContactForm.get('email')?.hasError('email')">
                        Please enter a valid email address.
                      </div>
                      <div *ngIf="!myContactForm.get('email')?.hasError('email') && !myContactForm.get('email')?.value.includes('@gmail')">
                        Email is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-4">
                    <input type="text" class="p-2 ps-3 w-100" placeholder="Subject" required formControlName="subject">
                    <div *ngIf="myContactForm.get('subject')?.invalid && myContactForm.get('subject')?.touched" class="text-danger small">
                      Subject is required.
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-4">
                    <input type="text" class="p-2 ps-3 w-100" placeholder="Phone" required formControlName="phone">
                    <div *ngIf="myContactForm.get('phone')?.invalid && myContactForm.get('phone')?.touched" class="text-danger small">
                      Phone No. is required.
                    </div>
                  </div>
                  <div class="col-lg-12 mt-4">
                    <textarea class="w-100 p-2 ps-3" name="" id="" cols="30" rows="7" placeholder="Your Message" required formControlName="message"></textarea>
                    <div *ngIf="myContactForm.get('message')?.invalid && myContactForm.get('message')?.touched" class="text-danger small">
                      Message Field is required.
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <button class="btn-style-one" type="submit">Send Message</button>
                </div>
              </form>
            </div>

          </div>

        </div>

        <div class="col-lg-4 col-12 ms-auto p-4 bg-white rightdiv">
          <h5>Contact Us</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, excepturi voluptatibus! Asperiores, id modi ipsa debitis odit porro eius, reprehenderit laborum nulla totam voluptatem fuga fugiat, eligendi dignissimos ducimus praesentium?</p>

          <div class="mt-4">
            <p class="mb-0"><b>Address</b></p>
            <p>2301 Ravenswood Rd Madison,
              WI 53711</p>
          </div>
          <div>
            <p class="mb-0"><b>Phone</b></p>
            <p>2301 Ravenswood Rd Madison,
              WI 53711</p>
          </div>
          <div>
            <p class="mb-0"><b>Mail</b></p>
            <p>2301 Ravenswood Rd Madison,
              WI 53711</p>
          </div>
        </div>
      </div>

      <div class="mt-5 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3795081.5760582904!2d69.21090082903234!3d21.103600253303252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca1abbe3412b%3A0x26233161a5995a63!2sZentech%20Solutions!5e0!3m2!1sen!2sin!4v1696336937400!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="101%" height="500px" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>

<section id="whatsappicon">
  <a href="https://api.whatsapp.com/send?phone=917434022280&text=Hello%2C%20I%20contacted%20you%[…]web.app%20https%3A%2F%2Fsafety-signs-4c28c.web.app%2Fcontact"><div class="logo">
    <i class="fab fa-whatsapp fa-2x text-white"></i>
  </div></a>
</section>
