<section class="about-section">

  <div class="conbgimg">
    <div>
      <p><a routerLink="/" class="text-white">Home</a> / About Us</p>
      <h1>About Us</h1>
    </div>
  </div>

  <div class="container">
      <div class="row aboutrow">
          <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
              <div class="inner-column">
                  <div class="sec-title">
                      <span class="title">About Us</span>
                      <!-- <h2>We are leader in <br>Industrial market Since 1992</h2> -->
                  </div>
                  <div class="text">
                    <p>We safety for you are well known as supplier of road signage and also safety product, we are also providing the services such as survey for road safety sign, corporate signage, airport signage and building signage and many other products also.</p>

                    <p>Our parent company is Sharda Gramodhyog Kendra which was established in 1983 which is emerged as the most prominent Manufacturer and supplier of signages. All product that are offered under the category that are quality tested under varied industrial parameters before dispatching in the market. Our exclusive range is not merely an information board but also speaks about the company values & diginity.</p>
                  </div>
                  <!-- <ul class="list-style-one">
                      <li>Lorem Ipsum is simply dummy tex</li>
                      <li>Consectetur adipisicing elit</li>
                      <li>Sed do eiusmod tempor incididunt</li>
                  </ul> -->
                  <div class="btn-box">
                      <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                  </div>
              </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12 text-center">
              <div class="inner-column wow fadeInLeft">
                  <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img src="https://i.ibb.co/QP6Nmpf/image-1-about.jpg" alt=""></a></figure>
                  <figure class="image-2"><a href="#" class="lightbox-image" data-fancybox="images"><img src="https://i.ibb.co/JvN0NVB/image-2-about.jpg" alt=""></a></figure>
              </div>
          </div>
      </div>
  </div>
</section>
