.productdiv:hover {
  cursor: pointer;
}

.card {
  transition: 0.2s;
  width: 80% !important;
}

.card .info2 {
  transition: 0.2s;
  animation: card1 1.5s;
  animation-fill-mode: forwards;
}

.card:hover {
  box-shadow: 1px 1px 10px 1px #cbc9c9;
}

.card:hover .info2 {
  box-shadow: 1px 1px 10px 1px #cbc9c9;
  animation: card 1.5s;
	animation-fill-mode: forwards;
}

.info2{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 0;
	z-index: 9;
}

.info2-1{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: lightgray;
}

@keyframes card
{
	0% {
		width: 0;
	}
	100%{
		width: 100%;
		background-color: #001e57;
	}
}
@keyframes card1
{
	0% {
		width: 100%;
    background-color: #001e57;
	}
	100%{
    width: 0%;
    background-color: lightgray;
	}
}

.fa-sort-up:before {
  margin-top: 10px;
}

.nav-item button {
  color: #001e57;
}

.nav-link.active {
  border-top: 3px solid #001e57 !important;
}

.sortbytxtoutul {
  display: none;
}
.sortbytxtinul {
  display: block;
}

.card-img-top {
  height: 240px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.mrp-discount {
  font-size: 0.85rem;
}


  /* Responsiveness:Start */
  @media screen and (max-width: 430px) {
    .card {
      width: 100% !important;
    }

    .card-img-top {
      height: 27vh;
    }

    .sortbytxtinul {
      display: none;
    }
    .sortbytxtoutul {
      display: block;
    }
    .navTab {
      overflow-x: scroll;
      overflow-y: hidden;
      flex-wrap: nowrap;
      width: 100%;
    }
    .navTab::-webkit-scrollbar {
      width: 0;
    }

    .navTab::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .navTab::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    .navTab::-webkit-scrollbar-thumb:hover {
      background-color: transparent;
    }
  }

  @media screen and (max-width: 820px) {
    .card {
      width: 100% !important;
    }

    section {
      min-height: 65vh;
    }

  }

  @media screen and (max-width: 1290px) {
    .card {
      width: 100% !important;
    }
  }
  /* Responsiveness:End */
