<div class="container mt-5 mb-5">

  <div>
    <span class="m-2 me-3 mb-0 sortbytxtoutul"><b>Sort By:</b></span>
    <ul class="nav nav-tabs navTab" id="myTab" role="tablist">
      <span class="m-2 me-3 mb-0 sortbytxtinul"><b>Sort By:</b></span>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" (click)="originalpro()">Featured</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link d-flex align-items-center justify-content-between" id="price-tab" data-bs-toggle="tab" data-bs-target="#price" type="button" role="tab" aria-controls="price" aria-selected="true" (click)="price()">Price <span class="ms-2"><i class="fas fa-caret-up" *ngIf="upArrow"></i><i class="fas fa-caret-down" *ngIf="downArrow"></i></span></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link d-flex align-items-center justify-content-between" id="name-tab" data-bs-toggle="tab" data-bs-target="#name" type="button" role="tab" aria-controls="name" aria-selected="true" (click)="name()">Name <span class="ms-2"><i class="fas fa-caret-up" *ngIf="nameUpArrow"></i><i class="fas fa-caret-down" *ngIf="nameDownArrow"></i></span></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link d-flex align-items-center justify-content-between" id="arrival-tab" data-bs-toggle="tab" data-bs-target="#arrival" type="button" role="tab" aria-controls="arrival" aria-selected="true" (click)="date()">New Arrivals <span class="ms-2"><i class="fas fa-caret-up" *ngIf="dateUpArrow"></i><i class="fas fa-caret-down" *ngIf="dateDownArrow"></i></span></button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <ng-container *ngTemplateOutlet="pro"></ng-container>
      </div>
      <div class="tab-pane fade" id="price" role="tabpanel" aria-labelledby="price-tab">
        <ng-container *ngTemplateOutlet="pro"></ng-container>
      </div>
      <div class="tab-pane fade" id="name" role="tabpanel" aria-labelledby="name-tab">
        <ng-container *ngTemplateOutlet="pro"></ng-container>
      </div>
      <div class="tab-pane fade" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
        <ng-container *ngTemplateOutlet="pro"></ng-container>
      </div>
    </div>
  </div>

  <!-- <div class="text-end">
    <select class="ps-2 pe-2" [(ngModel)]="sorting" (change)="sortProducts()">
      <option value="sort">Sort By</option>
      <option value="high">Price -- Low to High</option>
      <option value="low">Price -- High to Low</option>
      <option value="name">Sort By Product Name</option>
      <option value="date">Sort By Date</option>
    </select>
  </div> -->

  <ng-template #pro>
    <div class="row mt-3">
      <div class="col-lg-3 col-6 col-md-4 p-lg-3 p-md-3 mb-3 productdiv" *ngFor="let product of productList">
        <div class="card" (click)="goToProductDetails(product.id)">
          <img [src]="product?.product_image" class="card-img-top bg-light" alt="product.product_image">
          <div class="card-body mt-1">
            <p class="card-title">{{ product.product_name }}</p>
            <p><b>₹{{ product.sell_price }}</b> <span class="ms-md-3 ms-lg-2 ms-2 text-secondary text-decoration-line-through mrp-discount">₹{{ product.mrp_price }}</span> <span class="ms-lg-2 ms-md-3 ms-2 text-success mrp-discount">({{ product.discount }}% OFF)</span></p>
            <div class="info2"></div>
            <div class="info2-1"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- <div class="row">
    <div class="col-lg-3 col-12 col-md-6  p-3 mb-3 productdiv" *ngFor="let mobile of mobilesData; let i =index">
      <div class="card border border-white shadow">
        <img [src]="mobile.mobilesImg" class="card-img-top" alt="mobile Image">
        <div class="card-body text-center">
          <h5 class="card-title">{{ mobile.mobilesTitle }}</h5>
          <p class="card-text">{{ mobile.mobilesPrice }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-12 col-md-6 p-3 mb-3 productdiv" *ngFor="let laptop of laptopsData">
      <div class="card border border-white shadow">
        <img [src]="laptop.laptopsImg" class="card-img-top" alt="laptop Image">
        <div class="card-body text-center">
          <h5 class="card-title">{{ laptop.laptopsTitle }}</h5>
          <p class="card-text">{{ laptop.laptopsPrice }}</p>
        </div>
      </div>
    </div>
  </div> -->
</div>






<!-- <div class="container">
  <div class="row">
    <div class="col" *ngFor="let product of productList">
      <div class="card">
        <img [src]="product.product_image" class="card-img-top" alt="{{product.product_name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Category: {{product.category.category_name}}</p>
          <p class="card-text">Available Sizes: {{product.attributes.size.join(', ')}}</p>
          <p class="card-text">Stocks: {{product.stocks}}</p>
          <p class="card-text">Discount: {{product.discount}}%</p>
          <p class="card-text">MRP: {{product.MRP}}</p>
          <p class="card-text">Sell Price: {{product.sell_price}}</p>
          <p class="card-text">COD Available: {{product.is_cod ? 'Yes' : 'No'}}</p>
          <p>Label: {{product.variant_label.label}}</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
