.productdiv:hover {
  cursor: pointer;
}

.card {
  transition: 0.2s;
}

.card .info2 {
  transition: 0.2s;
  animation: card1 1.5s;
  animation-fill-mode: forwards;
}

.card:hover {
  box-shadow: 1px 1px 10px 1px #cbc9c9;
}

.card:hover .info2 {
  box-shadow: 1px 1px 10px 1px #cbc9c9;
  animation: card 1.5s;
	animation-fill-mode: forwards;
}

.info2{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 0;
	z-index: 9;
}

.info2-1{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: lightgray;
}

@keyframes card
{
	0% {
		width: 0;
	}
	100%{
		width: 100%;
		background-color: #00005a;
	}
}
@keyframes card1
{
	0% {
		width: 100%;
    background-color: #00005a;
	}
	100%{
    width: 0%;
    background-color: lightgray;
	}
}

.fa-sort-up:before {
  margin-top: 10px;
}

.nav-item button {
  color: #00005a;
}

.nav-link.active {
  border-top: 3px solid #00005a !important;
}
