.navbg {
  background-color: #00005a;
}

.fa-shopping-cart {
  border: 1px solid white;
  border-radius: 5px;
}

.fa-shopping-cart:hover {
  background: white;
  color: black;
}

.fa-shopping-cart:hover::before {
  background: white;
  color: #00005a;
}
