<!-- <div class="container mt-5 mb-5">
  <h2>Product Details</h2>
  <ul>
    <li>
      {{ selectedDetail.text }}
    </li>
  </ul>
</div> -->


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-12">

        <!-- carousel in test file -->

        <div>
          <img id="largeImage" [src]="selectedVariant?.product?.product_image" alt="" class="largimg" loading="lazy">
        </div>
        <!-- <div class="carousel-container carouselContainer ms-auto me-auto ms-lg-auto me-lg-auto" (mouseover)="handleMouseover($event)">
          <ngx-slick-carousel class="carousel mt-2" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide ms-2 me-2">
              <img src="{{ slide.img }}" alt="" class="carouselimg">
            </div>
          </ngx-slick-carousel>
        </div> -->
      </div>

      <div class="col-lg-6 col-md-7 col-12 ms-lg-5 ps-lg-0 pe-lg-0 ps-4 pe-4 mt-4 mt-lg-0 mt-md-0" *ngIf="selectedVariant">
        <h2>{{ productDetail?.product_name }}</h2>
        <div class="mt-lg-3 d-inline-flex">

          <div>
            <star-rating [showHalfStars]="true"
                [rating]="bindingsForm.get('rating')?.value" class="d-inline-block">
              </star-rating>
          </div>

          <div *ngFor="let review of selectedVariant?.rating_and_review">
            <div *ngIf="review?.avg_ratting">
              <p><b>{{review?.avg_ratting}} out of 5</b></p>
            </div>
          </div>

          <div>
            <span class="ms-4"><i class="fas fa-shopping-bag me-2"></i>{{ selectedVariant?.stocks }}</span>
          </div>

          <div>
            <span class="ms-3 text-success">In Stock</span>
          </div>
        </div>
        <div class="mt-3">
          <h5 class="d-inline-block"><b>₹{{ selectedVariant.sell_price }}</b></h5> <span
            class="text-decoration-line-through text-secondary ms-3">₹{{ selectedVariant.MRP }}</span> <span
            class="text-success ms-2"><b>{{ selectedVariant.discount }}%</b></span>
        </div>
        <div class="mt-3" *ngIf="productDetail?.attributes.size">
          <p><b>Size: </b>{{ productDetail?.attributes.size?.join(', ') }}</p>
        </div>

        <div class="mt-lg-3 mt-md-3">
          <p><b>Variant: </b>
            <button class="variant-label ms-3 variantbtn ps-2 pe-2" *ngFor="let variant of productDetail?.variants" [class.selected]="variant === selectedVariant" (click)="selectVariant(variant)">
              {{ variant.label }}
            </button>
          </p>
        </div>

        <div class="mt-4" *ngIf="selectedVariant?.stocks == 0">
          <h5 class="text-danger">Out of stock*</h5>
        </div>

        <hr>

        <div class="col-md-4 col-6 mb-4" *ngIf="selectedVariant?.stocks !== 0">
          <label class="mb-2 d-block">Quantity</label>
          <div class="input-group mb-3" style="width: 170px;">
            <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1"
              data-mdb-ripple-color="dark" (click)="decrement()">
              <i class="fas fa-minus"></i>
            </button>
            <h5 id="counting" class="d-inline-block mx-3 my-2">{{data}}</h5>
            <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2"
              data-mdb-ripple-color="dark" (click)="increment()">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>

        <div class="mt-lg-5 cartbuybtn">
          <div class="cartbtn">
            <button class="p-2" [disabled]="selectedVariant?.stocks == 0" (click)="goToCartPage(selectedVariant?.id)">
              <i class="fas fa-shopping-cart me-2"></i>{{ addedToCart ? 'GO TO CART' : 'ADD TO CART' }}
            </button>
          </div>
          <div class="mt-4 cartbtn">
            <button class="p-2" [disabled]="selectedVariant?.stocks == 0" (click)="goToCheckOut(selectedVariant.id)"><i class="fas fa-bolt me-2"></i>BUY IT NOW</button>
          </div>
          <div class="mt-4 makebtn">
            <!-- Button trigger modal -->
            <button type="button" [disabled]="selectedVariant?.stocks == 0" class="p-2" data-bs-toggle="modal" data-bs-target="#offerModal">
              Make Your Offer
            </button>
          </div>
        </div>

        <div class="mt-5 border tabdiv p-4">
          <ul class="nav nav-pills mb-3 navTab" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Details</button>
            </li>
            <li class="nav-item ms-4" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Info.</button>
            </li>
            <li class="nav-item ms-4" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">warranty</button>
            </li>
          </ul>
          <div class="tab-content mt-5" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <p>{{ productDetail?.description }}</p>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <p><span class="text-primary">Cash on Delivery available: </span> <b>{{ productDetail?.is_cod ? 'Yes' : 'No' }}</b></p>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem similique asperiores, itaque quas nam non tenetur molestiae, reprehenderit architecto vel sit modi, quaerat perspiciatis. Minus explicabo animi placeat ut ad.
            </div>
          </div>
        </div>

        <div class="mt-5 border maintabdiv p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
              <h3>Ratings & Reviews</h3>
            </div>

            <div class="col-lg-2 col-md-4 col-4 mt-1">
              <star-rating [showHalfStars]="true"
                [rating]="bindingsForm.get('rating')?.value">
              </star-rating>
            </div>

            <div class="col-lg-3 col-md-6 col-6 mt-1">
              <ng-container *ngFor="let review of selectedVariant?.rating_and_review">
                <div *ngIf="review?.avg_ratting">
                  <h5><b>{{ review?.avg_ratting }} Out of 5</b></h5>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="mt-4 tabdiv pt-3 pb-3">
            <ng-container *ngFor="let review of productDetail?.variants">
              <ng-container *ngFor="let review of review?.rating_and_review">
                <div *ngIf="review.review && review.ratting" class="ratinginerdiv p-4 mt-4">
                  <div>
                    <h6><i class="fas fa-user-circle me-2"></i> {{ review.first_name }} {{ review.last_name }}:</h6>
                  </div>
                  <div class="mt-lg-4 mt-md-4">
                    <p><span class="bg-success text-white starbox">{{ review.ratting }} <i class="fas fa-star"></i></span></p>
                    <p><b>{{ review.review }}</b></p>
                  </div>
                </div>

                <!-- <div class="text-end">
                  <p class="text-secondary mb-0"></p>
                </div> -->
              </ng-container>
            </ng-container>
          </div>

        </div>

        <div class="mt-4 text-end" *ngIf="loggedIn">
          <button type="button" class="offerbtn p-2" data-bs-toggle="modal" data-bs-target="#ratingModal" [disabled]="!ratingAvailability?.rating_availability || ratingId">
            Add Ratings / Reviews
          </button>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Rating Image Modal -->
<!-- <div class="modal fade carouselmodel" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <img id="largeImage1" src="assets/images/img1.jpg" alt="" class="largimg">
        </div>
        <div class="carousel-container" (mouseover)="handleMouseover1($event)">
          <ngx-slick-carousel id="modalCarousel" class="carousel mt-2" #slickModal="slick-carousel" [config]="slideConfig" >
            <div  ngxSlickItem *ngFor="let slide of modalslides" class="slide ms-2 me-2">
              <img src="{{ slide.img }}" alt="" class="carouselimg1">
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Offer Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="offerModalLabel">Make Your Offer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myOfferForm" (ngSubmit)="onOfferSubmit()">
          <div class="row">
            <div class="inputbox">
              <label><b>Enter Amount:</b></label>
              <input class="mt-2 pt-3 pb-3 ms-4" type="text" placeholder="Enter Amount" required formControlName="amount">
            </div>
            <div class="create mt-4 text-center ms-auto me-auto modal-footer">
              <!-- <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
              <button type="submit" class="offerbtn p-2">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Rating Modal -->
<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ratingModalLabel">Add Ratings / Reviews</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="container">
            <div class="row">
              <div class="col">
                <form [formGroup]="ratingForm" (ngSubmit)="onRatingSubmit()">
                  <div class="row">
                    <div class="col-lg-5">
                      <label><b>Add your Ratings:</b></label>
                    </div>
                    <div class="col-lg-6">
                      <star-rating-control
                      [rating]="rating"
                      formControlName="ratingInput"
                    ></star-rating-control>
                    </div>
                  </div>

                  <div class="mt-4">
                    <label for=""><b>Add your Review:</b></label><textarea class="w-100" rows="5" placeholder="Enter your Review here" formControlName="reviewInput"></textarea>
                  </div>
                  <!-- <pre>{{ form.value | json }}</pre> -->
                  <div class="mt-3 text-end">
                    <button type="submit" class="offerbtn p-2">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>




<div class="container" [formGroup]="bindingsForm" class="d-none">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Rating</label>
        <input type="number" class="form-control" placeholder="rating"
          step="0.5" formControlName="rating" [(ngModel)]="avgRating">
      </div>
    </div>
  </div>
</div>
