<section>
  <div class="container">
    <div *ngIf="!orderEmpty">
      <h2 class="text-center mt-lg-5">Your Orders!</h2>
      <hr class="w-25 ms-auto me-auto" >
    </div>
    <div class="row mt-lg-4 orderlistdiv">

      <div class="text-center" *ngIf="orderEmpty">
        <h2 class="mt-5 mb-5">You haven't ordered any item yet. So please order an item first...!</h2>
        <div class="mb-5">
          <img src="assets/images/cart.png" alt="" class="cartImg">
        </div>
      </div>

      <div class="col-lg-7 col-12 order-2 order-lg-1" *ngIf="!orderEmpty">
        <div *ngFor="let order of orderedList" class="mt-5">
          <div class="row orderCard" *ngFor="let item of order?.order_item">
            <div class="col-lg-4 col-md-4 col-12">
              <img [src]="item.variant_label.product.product_image" class="w-100">
            </div>

            <div class="col-lg-8 col-md-8 col-12 mt-3 mt-md-0 mt-lg-4 ps-lg-5">
              <h4>{{ item.variant_label.product.product_name }}</h4>
              <!-- <p>{{order.created_at}}</p> -->
              <p class="mt-3">Quantity: {{ item.quantity }}</p>
              <p>Price: <span class="sellprice"><b>₹{{ item.variant_label.sell_price }}</b></span> <span class="text-decoration-line-through ms-3">₹{{ item.variant_label.MRP }}</span></p>
              <hr>
              <h5 class="mt-3">Total: ₹{{ item.total }}</h5>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-12 order-1 order-lg-2 mt-2 mt-lg-5 ms-auto userdetail" *ngIf="orderedList && !orderEmpty">
        <p>Name: <b>{{ orderedList[0]?.user?.first_name }} {{ orderedList[0]?.user?.last_name }}</b></p>
        <p class="card-text">Email: <b>{{ orderedList[0]?.user?.email }}</b></p>
      </div>
    </div>
  </div>
</section>
