/* .card {
  width: 300px;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
} */


.orderCard, .userdetail {
  background-color: #F9F9FA;
  border-radius: 10px;
  padding: 4%;
  box-shadow: 1px 1px 10px 1px #c1bebe;
}

.userdetail {
  padding: 2.5%;
  height: 100%;
}

.sellprice {
  font-size: 1.2rem !important;
}

.cartImg {
  height: 150px;
  width: 150px;

  filter: drop-shadow(5px 5px 10px #e5e3e3);
}


/* Responsiveness:Start */
@media screen and (max-width: 430px) {
  section {
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .orderlistdiv {
    padding: 5%;
  }

  .userdetail {
    padding: 5%;
  }
}
@media screen and (max-width: 820px) {
  section {
    margin-top: 10%;
    margin-bottom: 12%;
  }

  .orderlistdiv {
    padding: 10%;
    padding-top: 5%;
  }

  .userdetail {
    padding: 5%;
  }
}

@media screen and (max-width: 1030px) {
  .card-text {
    overflow-wrap: break-word;
  }
}
/* Responsiveness:End */
