<div class="title mt-2">
  <h2 class="text-center">Change Password</h2>
</div>
<hr class="w-75 ms-auto me-auto">
<div class="form ms-auto me-auto">
  <form>
    <div class="row">
      <div class="inputbox col-lg-12 mt-3">
        <label>Old Password</label>
        <div class="input-group mt-2">
          <div class="input-group-prepend mt-1">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <input
            [type]="oldpasswordFieldType"
            id="oldpassword"
            class="form-control"
            [(ngModel)]="oldpassword"
            name="oldpassword"
            placeholder="Old Password"
          />
          <div class="input-group-append mt-1">
            <span class="input-group-text" (click)="oldpass()">
              <i [class]="oldpasswordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="inputbox col-lg-12 mt-3">
        <label>New Password</label>
        <div class="input-group mt-2">
          <div class="input-group-prepend mt-1">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <input
            [type]="newpasswordFieldType"
            id="newpassword"
            class="form-control"
            [(ngModel)]="newpassword"
            name="newpassword"
            placeholder="New Password"
          />
          <div class="input-group-append mt-1">
            <span class="input-group-text" (click)="newpass()">
              <i [class]="newpasswordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="inputbox col-lg-12 mt-3">
        <label>Confirm Password</label>
        <div class="input-group mt-2">
          <div class="input-group-prepend mt-1">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <input
            [type]="conpasswordFieldType"
            id="conpassword"
            class="form-control"
            [(ngModel)]="conpassword"
            name="conpassword"
            placeholder="Confirm Password"
          />
          <div class="input-group-append mt-1">
            <span class="input-group-text" (click)="conpass()">
              <i [class]="conpasswordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="create mt-4 text-center ms-auto me-auto">
        <button type="submit">Submit</button>
      </div>
      <div class="additional text-center">
        <a routerLink="/auth/register">Log In</a>
      </div>
    </div>
  </form>
</div>
