<section>
  <div class="row content">
    <div class="left col-lg-3 col-md-4">
      <img src="https://i.postimg.cc/8CCmX23W/icon.png" alt="icon">
      <h1>SAFETY <br>SIGNS</h1>
    </div>

    <div class="right col-lg-8 col-md-7 col-12">
      <div class="title mt-2">
        <h2 class="text-center">Change Password</h2>
      </div>
      <hr class="w-75 ms-auto me-auto">
      <div class="form ms-auto me-auto">
        <form [formGroup]="myChangeForm" (ngSubmit)="onChangeSubmit()">
          <div class="row">
            <div class="inputbox col-lg-12 mt-3">
              <label>Old Password</label>
              <div class="input-group mt-2">
                <div class="input-group-prepend mt-1">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input
                  [type]="oldpasswordFieldType"
                  id="oldpassword"
                  class="form-control"
                  [(ngModel)]="oldpassword"
                  name="oldpassword"
                  placeholder="Old Password"
                  formControlName="old_password"
                />
                <div class="input-group-append mt-1">
                  <span class="input-group-text" (click)="oldpass()">
                    <i [class]="oldpasswordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </span>
                </div>
                <div *ngIf="myChangeForm.get('password')?.invalid && myChangeForm.get('password')?.touched" class="text-danger small">
                  Password is required.
                </div>
              </div>
            </div>
            <div class="inputbox col-lg-12 mt-3">
              <label>New Password</label>
              <div class="input-group mt-2">
                <div class="input-group-prepend mt-1">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input
                  [type]="newpasswordFieldType"
                  id="newpassword"
                  class="form-control"
                  [(ngModel)]="newpassword"
                  name="newpassword"
                  placeholder="New Password"
                  formControlName="password"
                />
                <div class="input-group-append mt-1">
                  <span class="input-group-text" (click)="newpass()">
                    <i [class]="newpasswordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="inputbox col-lg-12 mt-3">
              <label>Confirm Password</label>
              <div class="input-group mt-2">
                <div class="input-group-prepend mt-1">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input
                  [type]="conpasswordFieldType"
                  id="conpassword"
                  class="form-control"
                  [(ngModel)]="confirmpassword"
                  name="conpassword"
                  placeholder="Confirm Password"
                  formControlName="confirm_password"
                />
                <div class="input-group-append mt-1">
                  <span class="input-group-text" (click)="conpass()">
                    <i [class]="conpasswordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </span>
                </div>
              </div>
            </div>

            <div>
              <p class="text-danger">{{ confirmMessage }}</p>
            </div>

            <div class="create mt-4 text-center ms-auto me-auto">
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
