<section>
  <div class="row content">
    <div class="left col-lg-3 col-md-4">
      <img src="https://i.postimg.cc/8CCmX23W/icon.png" alt="icon">
      <h1>SAFETY <br>SIGNS</h1>
    </div>

    <div class="right col-lg-8 col-md-7 col-12">
      <div class="title mt-2">
        <h2 class="text-center">Change Password</h2>
      </div>
      <hr class="w-75 ms-auto me-auto">
      <div class="form ms-auto me-auto">
        <form [formGroup]="myResetForm" (ngSubmit)="onResetSubmit()">
          <div class="row">
            <div class="inputbox col-lg-12 mt-3">
              <label>New Password</label>
              <div class="input-group mt-2">
                <div class="input-group-prepend mt-1">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input
                  [type]="newpasswordFieldType"
                  id="newpassword"
                  class="form-control"
                  formControlName="password"
                  placeholder="New Password"
                />
                <div class="input-group-append mt-1">
                  <span class="input-group-text" (click)="newpass()">
                    <i [class]="newpasswordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="inputbox col-lg-12 mt-3">
              <label>Confirm Password</label>
              <div class="input-group mt-2">
                <div class="input-group-prepend mt-1">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input
                  [type]="conpasswordFieldType"
                  id="conpassword"
                  class="form-control"
                  formControlName="confirm_password"
                  placeholder="Confirm Password"
                />
                <div class="input-group-append mt-1">
                  <span class="input-group-text" (click)="conpass()">
                    <i [class]="conpasswordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </span>
                </div>
              </div>
            </div>


            <div class="create mt-5 text-center ms-auto me-auto">
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
