<div class="title mt-2">
  <h2 class="text-center">Welcome to Login</h2>
</div>
<hr class="w-75 ms-auto me-auto">
<div class="form ms-auto me-auto">
  <form [formGroup]="myLoginForm" (ngSubmit)="onLogin()">
    <div class="row">
      <div class="inputbox col-lg-12 mt-3">
        <label>Email</label>
        <input class="mt-2 pt-3 pb-3" type="email" [(ngModel)]="email" placeholder="Enter your Email ID" required formControlName="email">
      </div>
      <div class="inputbox col-lg-12 mt-3">
        <label>Password</label>
        <div class="input-group mt-2">
          <div class="input-group-prepend mt-1">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <input
            [type]="passwordFieldType"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            placeholder="Password"
            formControlName="password"
          />
          <div class="input-group-append mt-1">
            <span class="input-group-text" (click)="pass()">
              <i [class]="passwordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </span>
          </div>
        </div>

      </div>
      <div class="create mt-4 text-center ms-auto me-auto">
        <button type="submit">Log In</button>
      </div>
      <div class="additional text-center">
        <a routerLink="/auth/register">Create an account ?</a>
        <div>
          <a routerLink="/auth/forget">Forget Password ?</a>
        </div>
      </div>
    </div>
  </form>
</div>
