<div class="title mt-2">
  <h2 class="text-center">Update Profile</h2>
</div>
<hr class="w-75 ms-auto me-auto">
<div class="form ms-auto me-auto">
  <form>
    <div class="row">
      <div class="inputbox col-lg-6 mt-3">
        <label>First Name</label>
        <input class="mt-2 pt-3 pb-3" type="text" placeholder="Enter your First Name" required>
      </div>
      <div class="inputbox col-lg-6 mt-3">
        <label>Last Name</label>
        <input class="mt-2 pt-3 pb-3" type="text" placeholder="Enter your Last Name" required>
      </div>
      <div class="inputbox col-lg-6 mt-3">
        <label>Email</label>
        <input class="mt-2 pt-3 pb-3" type="email" placeholder="Enter your Email ID" required>
      </div>
      <div class="inputbox col-lg-6 mt-3">
        <label>Phone No.</label>
        <input class="mt-2 pt-3 pb-3" type="Number" placeholder="Enter your NUmber" required>
      </div>
      <div class="inputbox col-lg-12 mt-3">
        <label>Office Address</label>
        <input class="mt-2 pt-3 pb-3" type="text" placeholder="Enter your Address" required>
      </div>
      <div class="create mt-4 text-center ms-auto me-auto">
        <button type="submit">Log In</button>
      </div>
      <div class="additional text-center">
        <a routerLink="/register">Create an account ?</a>
      </div>
    </div>
  </form>
</div>
